.text-type-container {
  display: inline-block;
}

.text-type-cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  margin-left: 2px;
  animation: blink 1s infinite;
}

@keyframes blink {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
